::selection {
    background-color:#17aa9d;
    color: #fff;
}
::-moz-selection {
    background-color:#17aa9d;
    color: #fff;
}


a,
.theme-color,
.mm-column li.mm-header > a,
.mm-column li:not(.mm-header) a:hover {
    color:#17aa9d;
}

.theme-before:before,
.theme-after:after,
.btn-theme,
.theme-bg,
.theme-hover:hover,
.fixed-header .header-nav a.btn {
    background: #17aa9d;
}

.theme-hover:hover {
    border-color: #17aa9d;
}


@media(max-width: 991px){
    .header-nav a.btn {
        background: #17aa9d;
    }
}